{% extends 'mytlg/base.html' %}

{% block 'title' %}
Пользовательское соглашение
{% endblock %}

{% block 'body' %}

<div class="container-xxl container-p-y">
    <h2>Пользовательское соглашение</h2>
    <p>
        Настоящее пользовательское соглашение (далее - Соглашение) является офертой _________________________ (далее -
        Лицензиар) и адресовано любому дееспособному лицу (далее – Пользователю) на изложенных ниже условиях.
        Пользователю необходимо внимательно ознакомиться со всеми условиями Соглашения до начала использования Платформы
        и ее сервисов.Правом, подлежащим применению к настоящему Соглашению, является законодательство РФ.
        Использование ПО, является безусловным и безоговорочным принятием (акцептом) Пользователем условий данного
        Соглашения.
    </p>
    <p>
        Термины и определения
        ПО, программа – программа для ЭВМ «_____________», исключительное право на которую принадлежат Лицензиару.
        Доступ к ПО предоставляется посредством мессенджера Telegram, путем подключения ПО к профилю Лицензиата в
        указанном мессенджере. Программа предназначена для создания в мессенджере Telegram персональных каналов для
        агрегации контента из других Telegram-каналов по интересам Лицензиата или из всех тематик, которые интересны
        Лицензиату.
        Лицензиат — совершившее акцепт настоящей Оферты физическое лицо.
    </p>
    Контент — информация, документы и иные объекты, размещаемые Лицензиатом или третьими лицами посредством
    мессенджера Telegram в сети Интернет.Лицензиар не имеет доступа к Контенту, не может им управлять и не
    определяет его содержание.
    Тариф — размер лицензионного вознаграждения за определенны объем предоставляемых прав Лицензиату.
    </p>
    <p>
        1. Предмет и условия предоставления ПО
        1.1. Лицензиар обязуется предоставить Лицензиату право на использование ПО (простую (неисключительную)
        лицензию), правообладателем которого является Лицензиар.
    </p>
    <p>
        1.2. Лицензиат вправе осуществлять использование ПО следующими способами: путем воспроизведения ПО на устройстве
        Лицензиата посредством мессенджера Telegram, исключительно для самостоятельного использования Лицензиатом без
        права сублицензирования третьим лицам. ПО предоставляется по модели SaaS, без передачи экземпляра ПО Лицензиату.
    </p>
    <p>
        1.3. Стороны особо оговаривают, что, учитывая то, что прикладное полноценное использование Лицензиатом Программы
        осуществляется без передачи Лицензиату экземпляра Программы и обеспечивается техническим обслуживанием и
        управлением Программой Лицензиаром самостоятельно, на основании п.4 ст.1280 ГК РФ Лицензиату не предоставляются
        следующие права:
    </p>
    <p>
        1.3.1. Право на декомпиляцию Программы, извлечение исходного текста Программы, ее компонентов и фрагментов, даже
        если это необходимо для использования Программы или формирования, изменения ее среды функционирования, в том
        числе для целей экспертизы и аудита Программы или иных программных продуктов, взаимодействующих с Программой̆.
    </p>
    <p>
        1.3.2. Право на переработку или иное изменение Программы любым способом (самостоятельно или с привлечением
        третьих лиц), включая ее перевод, брендирование, модификацию и любое иное изменение Программы, в том числе
        выделение ее компонентов и фрагментов, для целей адаптации, инсталляции на аппаратных средствах, интеграции с
        другими программами, создания нового (производного) программного обеспечения, использования Программы в составе
        сложной вещи, программно-аппаратного комплекса или облачного сервиса.
    </p>
    <p>
        1.3.3. Право на создание архивной копии Программы.
    </p>
    <p>
        1.3.4. Право на предоставление возможности использования функциональных сервисов Программы третьим физическим
        или юридическим лицам за плату или безвозмездно (за исключением работников Лицензиата или аффилированных ему
        юридических лиц, участвующих в едином с Лицензиатом производственном процессе) в том числе в режиме SaaS,
        совместного использования инфраструктуры или иного объединения ресурсов со сторонними организациями для ведения
        предпринимательской деятельности, за исключением случаев, прямо предусмотренных договором.
    </p>
    <p>
        1.3.5. Право на передачу/уступку третьим лицам прав и обязанностей по договору.
    </p>
    <p>
        1.4. Право использования ПО предоставляется на всей территории Российской Федерации.
    </p>
    <p>
        1.5. Срок использования Программы определяется исходя из Тарифа, выбранного Лицензиатом.
    </p>
    <p>
        1.6. ПО, включая все его компоненты, является объектом интеллектуальной собственности Лицензиара и защищается
        нормами законодательства Российской Федерации и международными соглашениями в сфере интеллектуальной
        собственности. Нарушение целостности ПО, нарушение систем защиты ПО, копирование исходного кода ПО или его
        компонентов полностью или в части, а также иные действия, нарушающие исключительные права Лицензиара на ПО не
        допускаются. Лицензиат несет гражданско-правовую, административную либо уголовную ответственность в соответствии
        с законодательством Российской Федерации, в том числе обязанность исполнить решение суда по требованию
        Лицензиара или правообладателя о признании права, о пресечении действий, нарушающих право или создающих угрозу
        его нарушения, о возмещении убытков, о публикации решения суда о допущенном нарушении с указанием
        действительного правообладателя, о возмещении убытков либо выплате компенсации.
    </p>
    <p>
        2. Порядок предоставления ПО
        2.1. Для использования ПО Лицензиат ________________________.
        2.2. _________________.

        3. Условия использования
        3.1. Лицензиат вправе использовать ПО согласно Соглашению и действующему законодательству Российской Федерации.
        3.2. Лицензиар не обязан оказывать консультационную и техническую поддержку Лицензиату.
        3.3. ПО обеспечивает только возможность доступа к Контенту, размещенному в Telegram. Все вопросы, связанные с
        использованием Контента третьих лиц, решаются между владельцем Контента и Лицензиатом самостоятельно.
        3.4. ПО предоставляется на условиях «как есть».
        3.5. Лицензиат принимает на себя все риски, связанные с использованием ПО.
        3.6. Лицензиар не дает Лицензиату никаких явно выраженных или предполагаемых гарантий в отношении ПО, в том
        числе, не гарантирует (включая, но не ограничиваясь): пригодность для конкретных целей, безопасность и
        защищенность, точность, полноту, производительность, системную интеграцию, бесперебойное функционирование,
        отсутствие ошибок, исправление неполадок, отсутствие вирусов, законность использования на любых территориях за
        пределами Российской Федерации.
        3.7. Лицензиар не несет ответственности за:
        a) невозможность использования ПО по причинам, не зависящим от Лицензиара;
        b) любые действия и/или бездействия поставщиков услуг, сервисов, сетей, программного обеспечения или
        оборудования;
        c) искажение, изменение, утрату Контента;
        d) безопасность логина и/или пароля Лицензиата;
        e) несанкционированное и/или неправомерное использования третьими лицами логина и/или пароля Лицензиата;
        f) ущерб, который может быть нанесен любым устройствам и носителям информации и/или программному обеспечению
        Лицензиата в результате использования ПО.
    </p>
    <p>
        4. Запрещенные действия
        Лицензиат не вправе:

        4.1. Использовать ПО для публикации, распространения, хранения, передачи в любой форме Контента, который:
        a) является незаконным, вредоносным, угрожающим, клеветническим, подстрекающим к насилию над каким-либо лицом
        или группой лиц, либо к бесчеловечному обращению с животными, призывает к совершению противоправной
        деятельности, в том числе разъясняет порядок применения взрывчатых веществ и иного оружия, нарушает общепринятые
        правила приличия и морально-этические нормы, содержит ненормативную лексику, пропагандирует ненависть и/или
        дискриминацию, а также содержит негативные и критические высказывания, касающиеся религии, политики, а также
        политических и общественных деятелей, избирательных объединений (политических партий, организаций, движений и
        т.п.) и иных лиц, расовых, этнических, гендерных признаков, личных качеств, способностей, сексуальной ориентации
        и внешнего вида третьих лиц, содержит оскорбления в адрес конкретных лиц или организаций;
        b) может быть воспринят как пропаганда определенных политических и религиозных взглядов, насилия, употребления
        наркотических средств, алкоголя и табакокурения;
        с) может быть воспринят как пропаганда политических взглядов, основной целью которой является распространение
        идей и сведений, направленных на формирование определенных установок, представлений, привлекательности этих
        идей, мнения о превосходстве таких политических взглядов или такого политического направления над другими, и при
        этом не ставит своей целью исключительно информирование населения об организации, объединении, их структуре,
        функциях, направлениях деятельности, программе и т.п.d) содержит публичные призывы к массовым беспорядкам,
        участию в массовых мероприятиях, проводимых с нарушением установленного порядка, к осуществлению
        террористической деятельности или публично оправдывающие терроризм, другие экстремистские материалы,
        недостоверную общественно значимую информацию, распространяемую под видом достоверных сообщений, которая создает
        угрозу массового нарушения общественного порядка и (или) общественной безопасности;
        e) нарушает права несовершеннолетних лиц;
        f) нарушает права третьих лиц на результаты интеллектуальной деятельности и приравненные к ним средства
        индивидуализации, права на информацию, составляющую коммерческую тайну, наносящего вред чести, деловой репутации
        и достоинству третьих лиц, нарушающего национальное и международное законодательство;
        g) содержит не разрешенную к разглашению информацию;
        h) содержит вредоносное программное обеспечение (вирусы, черви, трояны или другие компьютерные коды, файлы или
        программы), предназначенное для нарушения, уничтожения либо ограничения функциональности любого компьютерного
        или телекоммуникационного оборудования (их частей), для осуществления несанкционированного доступа, для
        получения доступа к коммерческим программным продуктам, путем предоставления серийных номеров логинов, паролей,
        программ для их генерации и прочих средств для получения несанкционированного доступа к платным ресурсам, а
        также размещения ссылок на вышеуказанную информацию;
        i) представляет собой Спам, т.е. рассылку без согласия получателя сообщений коммерческого и некоммерческого
        характера в форме (включая, но не ограничиваясь): рекламы товаров, оборот которых запрещен или ограничен
        согласно законодательству РФ; сообщений социального и/или религиозно-мистического содержания с призывом о
        дальнейшем распространении таких сообщений («писем счастья»); списков чужих адресов электронной почты; схем
        «пирамид», многоуровневого (сетевого) маркетинга (MLM); реферальных ссылок; систем Интернет-заработка и
        онлайн-бизнесов;
        j) нарушает законодательство Российской Федерации, национальное законодательство и/или нормы международного
        права;
        k) может использоваться для незаконного сбора, хранения и обработки персональных данных других лиц;
        l) содержит рекламу и/или предложение на оказание услуг эротических спа-салонов и иных подобных услуг.
        4.2. Использовать ПО для:
        a) Нарушения работы ПО, в том числе размещения элементов, затрудняющих обмен информацией в реальном времени,
        открывающих дополнительные окна браузера, подменяющих функциональные элементы интерфейса и т.п.
        b) Размещения ссылок на ресурсы, содержание которых противоречит действующему законодательству РФ и нормам
        международного права.
        c) Распространения не соответствующих действительности сведений относительно своей причастности к Лицензиару и
        /или его партнерам.
        d) Содействия любым мероприятиям, направленным на нарушение ограничений и запретов, налагаемых Соглашением, а
        также на нарушение норм действующего законодательства.
        е)   размещения ссылок на сайты с азартными играми, информации об азартных играх, о способах и методах игры в
        азартные игры; продвижения азартных игр, игр на деньги или лотерей, доступ к которым производится в режиме
        онлайн в сети Интернет; предоставления возможности загрузки программ для электронных вычислительных машин,
        которые позволяют принять участие в азартной игре или лотерее.
    </p>
    <p>
        5. Блокировка и удаление
        5.1. Лицензиар вправе незамедлительно осуществить блокировку Лицензиата в случае:a) Выявления нарушения
        Лицензиатом положений Соглашения;
        b) Выявления нарушения Лицензиатом положений действующего законодательства;
        c) Получения от третьих лиц претензии о нарушении Лицензиатом их прав;
        d) Получения соответствующих требований от государственных органов.
        5.2. Блокировка означает невозможность Лицензиата использовать ПО по функциональному назначению.
        5.3. Лицензиат обязуется самостоятельно предпринять все действия для прекращения нарушения.
        5.4. В случае блокировки в связи получением от третьих лиц претензии о нарушении Лицензиатом их прав, Лицензиат
        вправе использовать в дальнейшем ПО только при условии, что Лицензиар получил письменное уведомление от
        составителя жалобы, что спорная ситуация урегулирована и претензия со стороны третьих лиц о нарушении прав
        отсутствует.
        5.5. В случае получения требований от государственных органов, в том числе требований (уведомлений, претензий)
        Роскомнадзора, Лицензиар производит блокировку аккаунта Лицензиата, допустившего нарушение. При этом
        разблокировка аккаунта не производится без получения Лицензиаром официального уведомления от вышеуказанных
        государственных органов, в том числе Роскомнадзора, об отсутствии каких-либо претензий и требований к
        Лицензиата, чей аккаунт был заблокирован, а равно и к проектам, созданным (размещенным) указанным Лицензиатом.
    </p>
    <p>
        6. Тарифы
        6.1. Виды Тарифов доступны по ссылке ________.
        6.2. Тарифы могут изменяться по одностороннему решению Лицензиара. Стоимость оплаченного периода при этом
        изменению не подлежит.
        6.3.  Оплата Тарифа осуществляется на условиях cтопроцентной предоплаты.
        6.4. Датой оплаты является дата зачисления денежных средств на расчетный счет Лицензиара.
        6.5. Обязательства по оплате считаются неисполненными в случае возврата денежных средств по требованию платежной
        организации.
        6.6.  Неиспользование Лицензиатом ПО услуг не освобождает от оплаты лицензионного вознаграждения.
        6.7. По истечении срока действия Тарифа он автоматически продлевается на период, аналогичный предыдущему.
        Лицензиар осуществляет автоматическое списание соответствующей суммы с платежной карты Лицензиата согласно
        действующим Тарифам.
        6.8. Лицензиат вправе отменить функцию автоплатежа или уведомить Лицензиара о нежелании продлевать платный Тариф
        не позднее чем за 3 (три) дня до окончания срока его действия.
    </p>
    <p>
        7. Права Лицензиара
        7.1. Изменять, дорабатывать и обновлять ПО без согласия и уведомления Лицензиата.
        7.2. Устанавливать любые ограничения на использование ПО.
        7.3.  Направлять Лицензиату сообщения, уведомления, запросы, сведения рекламного и информационного характера
        самостоятельно, а также через свои аффилированные и/или дочерние компании.

        7.4. Удалять аккаунт Лицензиата при нарушении им условий Соглашения и/или в случае неиспользования аккаунта в
        течение _____месяцев.
    </p>
    <p>
        8. Персональные данные
        8.1. Лицензиар выполняет обработку персональных данных Лицензиата в целях исполнения Соглашения согласно
        требованиям, установленным Федеральным законом от 27.07.2006 № 152-ФЗ «О персональных данных» (далее - Закон «О
        персональных данных»).
    </p>
    <p>
        9. Ответственность
        9.1. Лицензиар не несет ответственности за прямую или косвенную упущенную выгоду Лицензиата. 
        9.2. Ответственность Лицензиара по Соглашению не может превышать стоимости оплаченного Лицензиатом Тарифа. 
        9.3. В случае предъявления Лицензиару претензий, требований и/или исков о нарушении прав третьих лиц, связанных
        с нарушением данных Лицензиатом гарантий, Лицензиат принимает на себя обязательства по их урегулированию и
        возмещению ущерба Лицензиару в случае его возникновения.
         
    </p>
    <p>
        10. Срок Соглашения
        10.1. Соглашение действует с момент акцепта до момента удаления аккаунта Лицензиата. 
        11. Разрешение споров и разногласий
        11.1. Все споры или разногласия, возникающие между Сторонами в связи с исполнением Соглашения, разрешаются ими
        путем переговоров.
        11.2. При недостижении Сторонами соглашения споры и разногласия подлежат разрешению в претензионном порядке.
        Срок ответа на претензию — 30 дней.
        11.3. При невозможности прийти к соглашению спор подлежит рассмотрению и разрешению в суде по месту нахождения
        Лицензиара.
    </p>
    <p>
        Контакты
    </p>


</div>

{% endblock %}