{% extends 'admin/base.html' %}

{% block content %}
    <div>
        <form action="{% url 'admin:import_channels_json' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="submit-row">
                <input type="submit" value="Загрузить JSON">
            </div>
        </form>
    </div>
    <hr>
    <div>
        <form action="{% url 'admin:check_channels_and_start_subscription' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="check_and_start" value="1">
            <div class="submit-row">
                <input type="submit" value="Проверить список каналов и запустить подписку">
            </div>
        </form>
    </div>
{% endblock %}